.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--color-green);
}

.topBarSearch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.topBarSearch input {
  border: 1px solid var(--color-black);
  border-radius: 1rem;
  padding: 0.25rem;
}

.topBarSearch svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: var(--color-white);
}

.topBarIcons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.topBarIcons svg {
  width: 1.8rem;
  height: 1.8rem;
  stroke: var(--color-white);
}

.nav {
  width: 100%;
  max-width: var(--width-container);
  height: 120px;
  margin: auto;
  padding: var(--padding-site-mobile);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-green);
}

@media (min-width: 768px) {
  .nav {
    padding: var(--padding-site-desktop);
  }
}

.nav ul,
.icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav img {
  width: 100%;
  max-width: 385px;
  padding: 1rem;
}
