.iconContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.iconContainer a {
  display: flex;
  will-change: transform;
}

@media (min-width: 768px) {
  .iconContainer a:hover {
    transform: translateY(-2px);
  }
}

.iconContainer svg {
  width: 1.8rem;
  height: 1.8rem;
  stroke: var(--color-white);
}

.iconContainer.dark svg {
  stroke: var(--color-purple);
}
