.wrapper {
  margin-bottom: 4rem;
  text-align: center;

  --section-margin-bottom: clamp(6rem, 8vw, 8rem);
  --sub-section-margin-bottom: clamp(4rem, 8vw, 8rem);
}

.wrapper h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.wrapper p:first-child {
  margin-top: 0;
}

.wrapper p:last-child {
  margin-bottom: 0;
}

.wrapper a {
  text-decoration: underline;
}

.wrapper a:hover {
  color: var(--color-light-purple);
}

.greeting {
  display: block;
  margin: 0 auto var(--sub-section-margin-bottom);
  max-width: 750px;
  font-size: clamp(var(--size-small), 3vw, var(--size-medium));
  line-height: normal;
  letter-spacing: 3px;
}

.greeting::after {
  content: '';
  display: block;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 1px;
  background-color: var(--color-purple);
}

.mainContentContainer {
  display: grid;
  grid-template-areas:
    'headshot'
    'description'
    'quickFacts'
    'philosophy';
  gap: var(--sub-section-margin-bottom);
  margin-bottom: var(--section-margin-bottom);
}

@media (min-width: 768px) {
  .mainContentContainer {
    grid-template-areas:
      'description headshot'
      'quickFacts philosophy';
  }
}

.description {
  grid-area: description;
}

.headshot {
  grid-area: headshot;
}

.quickFacts {
  grid-area: quickFacts;
}

.philosophy {
  grid-area: philosophy;
}

.headshot img {
  max-width: 90%;
  height: auto;
}

.quickFacts ul {
  padding: 2rem 2rem 2rem 3rem;
  color: var(--color-white);
  background-color: var(--color-purple);
  border-radius: 10px;
}

.quickFacts li {
  list-style-type: circle;
  text-align: left;
  padding-inline-start: 0.5rem;
}

.quickFacts li:not(:last-child) {
  margin-bottom: 1rem;
}

.intention {
  width: 100%;
  max-width: 475px;
  margin: 0 auto var(--section-margin-bottom);
  padding: 1rem;
  background-color: var(--color-light-purple);
  border: 1px solid var(--color-purple);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .intention {
    padding: 2rem;
  }
}

.spiralText {
  position: relative;
  width: 100%;
  max-width: 950px;
  margin: 0 auto var(--section-margin-bottom);
  font-family: var(--font-nothing-you-could-do);
}

.spiralText span {
  font-size: var(--size-medium);
}

.spiralText img {
  max-width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.signatureContainer {
  position: relative;
  width: fit-content;
  margin: 0 auto var(--section-margin-bottom);
}

.signatureContainer .signature {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .signatureContainer .signature {
    position: absolute;
    width: 40%;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    font-size: var(--size-extra-small);
    background: var(--color-white-transparent);
    border-radius: 10px;
  }
}

.signatureContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.youtubeContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 650px;
  margin: 0 auto var(--section-margin-bottom);
  border-radius: 10px;
}

.youtubeContainer::after {
  display: block;
  content: '';
  padding-top: 56.25%;
}

.youtubeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
