.topBar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: var(--padding-site-container-regular);
  padding-right: var(--padding-site-container-regular);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green);
}

@media (min-width: 991px) {
  .topBar {
    padding-left: var(--padding-site-container-large);
    padding-right: var(--padding-site-container-large);
    justify-content: space-between;
  }
}
