.content {
  margin-bottom: 4rem;
}

@media (min-width: 951px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 4rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 951px) {
  .content > div:nth-child(1) {
    order: 1;
  }
}

.content h2 {
  margin-bottom: 2rem;
  text-align: center;
}
