.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  margin-bottom: 4rem;
}

@media (min-width: 951px) {
  .content {
    grid-template-columns: 1fr 350px;
  }
}

.content > div:nth-child(1) {
  order: 1;
}

@media (min-width: 951px) {
  .content > div:nth-child(1) {
    order: 0;
  }
}

.content h2 {
  margin-bottom: 2rem;
  text-align: center;
}
