.navigation {
  width: 100%;
  max-width: var(--width-container);
  height: 150px;
  margin: auto;
  padding-left: var(--padding-site-mobile-x);
  padding-right: var(--padding-site-mobile-x);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-green);
}

@media (min-width: 991px) {
  .navigation {
    padding-left: var(--padding-site-desktop-x);
    padding-right: var(--padding-site-desktop-x);
  }
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navigation img {
  width: 100%;
  max-width: 385px;
  padding: 1rem;
}
