.navigation {
  width: 100%;
  max-width: var(--width-container);
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  padding-left: var(--padding-site-container-regular);
  padding-right: var(--padding-site-container-regular);
}

.wrapper {
  height: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-green);
}

.wrapper a {
  display: flex;
}

.wrapper img {
  width: 100%;
  max-width: 385px;
  padding: 1.5rem;
}

.navigationMobile {
  display: flex;
}

@media (min-width: 768px) {
  .navigationMobile {
    display: none;
  }
}

.navigationMobile svg {
  width: 2rem;
  height: 2rem;
  stroke: var(--color-purple);
}

.navigationDesktop {
  display: none;
}

@media (min-width: 768px) {
  .navigationDesktop {
    display: flex;
  }
}

.navigationDesktop ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
