.TopBanner {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: var(--padding-site-container-regular);
  padding-right: var(--padding-site-container-regular);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient-green);
}

@media (min-width: 768px) {
  .TopBanner {
    justify-content: space-between;
  }
}
