.container {
  margin: auto;
  max-width: 650px;
  text-align: center;
}

@media (min-width: 951px) {
  .container[data-path='/'] {
    margin: 0;
  }
}

.container p {
  font-size: var(--size-extra-small);
}

.headshot {
  width: 100%;
  max-width: 325px;
  height: auto;
}

.aboutKatrina {
  margin-bottom: 4rem;
}
