.card {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .card {
    margin: 0;
  }
}

.imageContainer {
  height: 350px;
  overflow: hidden;
  border-radius: 4px;

  /* Loading animation */
  background: linear-gradient(
    110deg,
    var(--color-light-purple) 0%,
    var(--color-light-green) 50%,
    var(--color-light-purple) 100%
  );
  background-size: 400%;
  animation: loading 4s ease infinite;
  box-shadow: inset 0 0 10rem var(--color-light-green);
}

.imageContainer > a {
  position: relative;
  height: 100%;
  display: block;
}

.imageContainer img {
  object-fit: cover;
  transition: var(--transition-long);
}

@media (min-width: 768px) {
  .imageContainer img {
    filter: brightness(0.95);
  }

  .imageContainer:hover img {
    transform: scale(1.01) translate(2px, -2px);
    filter: brightness(1);
  }
}

.card .animatedLink {
  width: 100%;
  max-width: 100px;
  display: block;
  margin: 0.7rem auto;
  font-size: var(--size-extra-small);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .animatedLink:hover {
    transform: translateY(-2px);
  }
}

.card h3 {
  width: 75%;
  max-width: 250px;
  margin: auto;
  text-align: center;
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
