.imageContainer {
  position: relative;
  height: 350px;
}

.card img {
  object-fit: cover;
  border-radius: 4px;
}

.card .animatedLink {
  width: 100%;
  max-width: 100px;
  display: block;
  margin: 0.7rem auto;
  font-size: var(--size-extra-small);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .animatedLink:hover {
    transform: translateY(-2px);
  }
}

.card h3 {
  width: 75%;
  max-width: 250px;
  margin: auto;
  text-align: center;
}
