.embla {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .embla {
    display: none;
  }
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  width: 100%;
  height: 350px;
  flex: 0 0 100%;
}

.embla__slide img {
  object-fit: cover;
}

.embla__slide > a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.embla .embla__prev,
.embla .embla__next {
  cursor: not-allowed;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  fill: var(--color-purple);
  background: #cfbcff69;
}

.embla .embla__prev {
  left: 0;
  border-radius: 0 6px 6px 0;
}

.embla .embla__next {
  right: 0;
  border-radius: 6px 0 0 6px;
}

.embla .embla__prev.active,
.embla .embla__next.active {
  background: var(--color-light-purple);
  cursor: pointer;
}

.embla__dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.embla__dots button {
  width: 1.5rem;
  height: 0.5rem;
  margin: 0 0.25rem;
  border: 0.5px solid var(--color-purple);
  border-radius: 4px;
  background-color: #cfbcff69;
  cursor: pointer;
}

.embla__dots button[data-selected='true'] {
  background: var(--color-light-purple);
}

.embla__info {
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .embla__info {
    display: none;
  }
}

.embla__info > a {
  width: 100%;
  max-width: 100px;
  display: block;
  margin: 0.7rem auto;
  font-size: var(--size-extra-small);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.embla__info h3 {
  width: 75%;
  max-width: 300px;
  margin: auto;
}
