.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    margin-top: 8rem;
  }
}

.post {
  width: 100%;
  max-width: 813px;
  margin: auto;
  text-align: left;
}

@media (min-width: 1024px) {
  .post {
    max-width: none;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid var(--color-purple);
    border-radius: 4px;
  }
}

.postHeader {
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 0 1rem;
  text-align: center;
}

.postHeader p {
  font-size: var(--size-extra-small);
  color: var(--color-grey-text);
}

.imageContainer {
  position: relative;
  width: 100%;
  margin: 0 auto 3rem;

  /* Loading animation */
  background: linear-gradient(
    110deg,
    var(--color-light-purple) 0%,
    var(--color-light-green) 50%,
    var(--color-light-purple) 100%
  );
  background-size: 400%;
  animation: loading 4s ease infinite;
  box-shadow: inset 0 0 10rem var(--color-light-green);
}

.imageContainer.hasCaption {
  margin-bottom: 3.5rem;
}

.imageContainer figcaption {
  position: absolute;
  top: 100%;
  margin: 0.2rem 0;
  font-size: clamp(0.75rem, 1.2vw, var(--size-extra-small));
  color: var(--color-grey-text);
}

.post > .imageContainer {
  position: relative;
  height: clamp(300px, 40vw, 500px);
}

.postBody > .imageContainer {
  height: clamp(300px, 40vw, 500px);
  display: inline-block;
}

.postBody .imageContainer[data-column-layout='two-column'] {
  width: 48%;
  height: clamp(200px, 40vw, 400px);
}

.postBody
  .imageContainer[data-column-layout='two-column'][data-alignment='left'] {
  margin-right: 2%;
}

.postBody .imageContainer[data-column-layout='three-column'] {
  width: 31%;
  height: clamp(150px, 25vw, 300px);
}

.postBody
  .imageContainer[data-column-layout='three-column'][data-alignment='left'],
.postBody
  .imageContainer[data-column-layout='three-column'][data-alignment='center'] {
  margin-right: 2%;
}

.imageContainer img {
  object-fit: cover;
  border-radius: 4px;
}

.postBody:before {
  content: '';
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100px;
  height: 2px;
  margin-bottom: 2rem;
  border-radius: 4px;
  background-color: var(--color-purple);
}

.postBody h3,
.postBody h4,
.postBody h5,
.postBody p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.postBody ul,
.postBody ol {
  margin-bottom: 2rem;
  padding-inline-start: 2.5rem;
}

.postBody li {
  margin-bottom: 0.75rem;
}

.postBody a {
  text-decoration: underline;
}

.postBody a:hover {
  color: var(--color-light-purple);
}

.postBody blockquote {
  margin: 2rem 1rem;
  padding: 1rem;
  font-size: var(--size-small);
  border-left: 6px solid var(--color-purple);
}

.postBody blockquote:before {
  content: open-quote;
  font-size: var(--size-extra-large);
  line-height: 0.1em;
  vertical-align: -0.4em;
  color: var(--color-purple);
}

.postBody blockquote:after {
  content: close-quote;
  font-size: var(--size-extra-large);
  line-height: 0.1em;
  vertical-align: -0.4em;
  color: var(--color-purple);
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.youtubeContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
}

.youtubeContainer::after {
  display: block;
  content: '';
  padding-top: 56.25%;
}

.youtubeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
