.aside {
  margin: auto;
  max-width: 650px;
  text-align: center;
}

.aside p {
  font-size: var(--size-extra-small);
}

.headshot {
  width: 100%;
  max-width: 325px;
  height: auto;
}

.signature {
  width: 50%;
  max-width: 200px;
  height: auto;
  margin-bottom: 4rem;
}

.subHeader {
  font-size: var(--size-medium);
}
