.footer {
  max-width: var(--width-container);
  margin: 0 auto 3rem;
  padding-left: var(--padding-site-container-regular);
  padding-right: var(--padding-site-container-regular);
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'logo'
    'icons'
    'copy';
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .info {
    grid-template-areas: 'copy logo icons';
    grid-template-columns: 232px 1fr 232px;
    gap: 0;
  }
}

.info img {
  width: 100%;
  max-width: 338px;
  height: auto;
  grid-area: logo;
}

.info div:nth-of-type(1) {
  grid-area: icons;
}

@media (min-width: 768px) {
  .info div:nth-of-type(1) {
    justify-self: end;
  }
}

.info div:nth-of-type(2) {
  grid-area: copy;
  font-size: var(--size-extra-small);
  text-align: center;
}

@media (min-width: 768px) {
  .info div:nth-of-type(2) {
    text-align: left;
  }
}

.info p {
  margin: 0 auto 0.3rem;
  font-size: 0.8rem;
}

.info a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .info a:hover {
    color: var(--color-light-purple);
  }
}
