.container {
  position: fixed;
  bottom: -100%;
  z-index: 2;
  width: 100%;
  height: auto;
  visibility: hidden;
  opacity: 0;
  padding: 2rem;
  background-color: var(--color-white);
  border-top: 2px solid var(--color-purple);
  transition: var(--transition-long);
}

.container.active {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

.container p {
  margin-bottom: 0;
  font-size: var(--size-extra-small);
}

.container a {
  display: inline-block;
  margin-bottom: 2rem;
  text-decoration: underline;
  transition: var(--transition-normal);
  font-size: var(--size-extra-small);
}

@media (min-width: 768px) {
  .container a:hover {
    color: var(--color-light-purple);
  }
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.buttonContainer button {
  display: inline-block;
  padding: 0.6rem;
  font-size: var(--size-extra-small);
  background-color: var(--color-light-purple);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: var(--transition-normal);
  cursor: pointer;
}

@media (min-width: 768px) {
  .buttonContainer button:hover {
    color: var(--color-white);
    background-color: var(--color-purple);
  }
}
