.comments {
  margin-bottom: 4rem;
}

.comments h2 {
  margin-bottom: 2rem;
  font-size: clamp(var(--size-medium), 5vw, var(--size-large));
}

.comments h3 {
  font-size: var(--size-small);
  text-transform: uppercase;
}

.comments ul {
  list-style: none;
}

.comments li {
  position: relative;
  padding-bottom: 2rem;
  border-bottom: 1px dashed var(--color-grey);
}

.comments li:not(:first-of-type) {
  padding-top: 2rem;
}

.date {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--color-grey);
  margin-bottom: 0;
}

.comment {
  margin-bottom: 0;
}

.likes {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: var(--size-small);
  color: var(--color-light-purple);
  display: grid;
  grid-template-columns: repeat(2, 1.2rem);
  align-items: center;
  gap: 0.1rem;
  cursor: pointer;
  user-select: none;
}
