.searchContainer {
  display: none;
}

@media (min-width: 768px) {
  .searchContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.searchContainer input {
  width: 200px;
  padding: 0.5rem;
  font-size: var(--size-extra-small);
  color: var(--color-purple);
  background-color: var(--color-white);
  border-radius: 1.25rem;
}

.searchContainer input:focus {
  width: 300px;
  border-radius: 0.25rem;
}

.searchContainer input::placeholder {
  color: var(--color-grey);
}

.searchContainer svg:not(.loading svg) {
  position: absolute;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  stroke: var(--color-purple);
  background-color: var(--color-light-purple);
  border: 1px solid var(--color-purple);
  border-radius: 50%;
}

/* Search results  */

.loading {
  justify-content: center;
}

.loading svg {
  fill: var(--color-light-purple);
}

.subNav {
  position: absolute;
  top: 3.2rem;
  left: -2px;
  width: 101.5%;
  max-height: 500px;
  z-index: 1;
  overflow: auto;
  padding: 0.5rem;
  border: 2px solid var(--color-purple);
  border-radius: 0.25rem;
  opacity: 0;
  visibility: hidden;
  background: var(--color-white);
}

.subNav.active {
  opacity: 1;
  visibility: visible;
}

.subNav li {
  list-style-type: none;
  transition: var(--transition-normal);
}

.subNav .userMessage {
  text-align: center;
}

.subNav .item {
  text-align: left;
}

.subNav .item:hover {
  background: var(--color-light-purple);
  border-radius: 4px;
}

.subNav .item a {
  display: block;
  padding: 1rem;
}
