.searchContainer {
  display: none;
}

@media (min-width: 768px) {
  .searchContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.searchContainer input {
  width: 200px;
  padding: 0.5rem;
  font-size: var(--size-extra-small);
  color: var(--color-purple);
  background-color: var(--color-white);
  border-radius: 1.25rem;
}

.searchContainer input:focus {
  width: 300px;
  border-radius: 0.25rem;
}

.searchContainer input::placeholder {
  color: var(--color-grey);
}

.searchContainer svg {
  position: absolute;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  stroke: var(--color-purple);
  background-color: var(--color-light-purple);
  border: 1px solid var(--color-purple);
  border-radius: 50%;
  transition: var(--transition-normal);
}
