:root {
  --width-container: 1300px;

  --padding-site-mobile: 0 1.5rem;
  --padding-site-desktop: 0 3rem;

  --size-small: 1.125rem;
  --size-normal: 1.25rem;
  --size-medium: 1.5rem;
  --size-large: 2rem;
  --size-extra-large: 2.625rem;

  --color-white: #fffaff;
  --color-black: #111111;
  --color-grey: #e8e8e8;
  --color-purple: #251842;
  --color-light-purple: #cfbcff;
  --color-green: #407d62;
  --color-light-green: #daeada;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--size-small);
  background-color: var(--color-white);
  color: var(--color-purple);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--color-black);
}

h1 {
  font-size: var(--size-extra-large);
}

h2 {
  font-size: var(--size-large);
}

h3 {
  font-size: var(--size-medium);
}

h4 {
  font-size: var(--size-normal);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
