:root {
  /* Containers */
  --width-container: 1200px;
  --padding-site-container-regular: 1rem;
  --padding-site-container-large: 3rem;

  /* Font Sizes */
  --size-extra-small: 1rem;
  --size-small: 1.125rem;
  --size-normal: 1.25rem;
  --size-medium: 1.5rem;
  --size-large: 2rem;
  --size-extra-large: 2.625rem;

  /* Colors */
  --color-white: #fffaff;
  --color-black: #111111;
  --color-grey: #bebebe;
  --color-purple: #251842;
  --color-light-purple: #cfbcff;
  --color-green: #407d62;
  --color-light-green: #daeada;

  /* Transitions */
  --transition-normal: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--size-small);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-white);
  color: var(--color-purple);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: var(--color-purple);
}

h1 {
  font-size: var(--size-extra-large);
}

h2 {
  font-size: var(--size-large);
}

h3 {
  font-size: var(--size-medium);
}

h4,
h5 {
  font-size: var(--size-normal);
}

p {
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
