.newestPostsContainer {
  margin-bottom: 4rem;
}

.newestPostsContainer h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.desktopImagesContainer {
  display: none;
}

@media (min-width: 768px) {
  .desktopImagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem 1rem;
  }
}
