.aside .desktop {
  display: none;
}

@media (min-width: 1024px) {
  .aside .mobile {
    display: none;
  }

  .aside .desktop {
    display: block;
    max-width: 322px;
    scrollbar-width: none;
  }

  .aside.isSticky .desktop {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: scroll;
  }

  /* Safari and Chrome */
  .aside.isSticky .desktop::-webkit-scrollbar {
    display: none;
  }
}
